/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* regular style toast */
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
  /* width: 100%; */
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(250, 251, 252);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor {
  cursor: pointer;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}
